<ion-header>
   <div class="header-container">
    <ion-toolbar color="left">
      <h1>Biblioteca</h1>
    </ion-toolbar>
  </div>

  <div class="icons">
    <h4>Criar Playlist</h4>
      <ion-row class="ion-justify-content-center">
        <ion-input placeholder="Nome da playlist" [(ngModel)]="newPlaylistName" type="text"></ion-input>

        <ion-button fill="clear" (click)="addNewPlaylist()">
          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </ion-row>
  </div>
  <h4>Minhas Playlists</h4>
</ion-header>

<ion-content>
  <div class="playlists">
    <ion-list *ngFor="let i of [0]">
      <ion-item routerLink="/home/playlist">
        <span>
          <ion-avatar>
            <img [src]="'https://picsum.photos/id/'+(42+i*3)+'/400/400'" alt="">>
          </ion-avatar>
          <ion-label>Chillhop Lo-Fi</ion-label>
        </span>
      </ion-item>
    </ion-list>

    <ion-list *ngFor="let playlist of playlists">
      <ion-item>
        <span routerLink="/home/playlist">
          <ion-avatar>
          <img [src]="playlist.img" alt="">
        </ion-avatar>
        <ion-label>{{playlist.name}}</ion-label>
        </span>
        <ion-button fill="clear" (click)="removePlaylist(playlist)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
