<ion-content id="bibliotecaMenu">
  <div class="header-container">
    <ion-buttons class="menuButton" slot="end">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>

    <ion-toolbar color="left">
      <h1>Biblioteca</h1>
    </ion-toolbar>
  </div>

  <div class="icons">
    <h4>Criar Playlist</h4>
      <ion-row class="ion-justify-content-center">

        <ion-input placeholder="Nome da playlist" [(ngModel)]="newPlaylistName" type="text"></ion-input>

        <ion-button fill="clear" (click)="addNewPlaylist()">
          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </ion-row>
  </div>

  <div class="playlists">
    <h4>Minhas Playlists</h4>
    <ion-list *ngFor="let i of [0,1]">
      <ion-item>
        <ion-avatar>
          <img [src]="'https://picsum.photos/id/'+(42+i*3)+'/400/400'" alt="">>
        </ion-avatar>
        <ion-label>Chillhop Lo-Fi</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngFor="let playlist of playlists">
      <ion-item>
        <ion-avatar>
          <img [src]="playlist.img" alt="">
        </ion-avatar>
        <ion-label>{{playlist.name}}</ion-label>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="trash-outline" (click)="removePlaylist(playlist)"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-menu contentId="bibliotecaMenu" menuId="second" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content routerLink="/home/config">
    <ion-icon name="person-circle-outline"></ion-icon>
    <h4>Configurações</h4>
  </ion-content>
  <ion-content>
    <h4>Sair</h4>
  </ion-content>
</ion-menu>
