.config-container {
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/3f/a0/f4/3fa0f4f1847b50a5d630ff738404c849.jpg');
    background-size: cover;

  .background-shadow {
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    ion-item {
      border-bottom: 1px solid rgba(1, 1, 1, 0.3);

      #sair {
        color: #fff;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }
  }
}
