<ion-header >
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="danger" routerLink="/home/explorar">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title slot="end">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
  
  <ion-title color="danger" class="ion-text-center">
    Economia de dados
  </ion-title>
  <ion-avatar>
  </ion-avatar>


  <ion-title color="danger" class="ion-text-center">
    Qualidade de áudio 
  </ion-title>
  <ion-avatar>
  </ion-avatar>


  <ion-title color="danger" class="ion-text-center">
    Sobre 
  </ion-title>
  <ion-avatar>
  </ion-avatar>
 
  <ion-title color="danger" class="ion-text-center">
    Sair
  </ion-title>
  <ion-avatar>
      </ion-avatar>

     </div>
</ion-content>