.background-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-image: url('https://cdn.statically.io/img/66.media.tumblr.com/f9e8c72278a4caa3c90292b8ee1eba01/tumblr_ppnd45kmtW1wcm7vgo4_250.jpg');
    background-size: cover;
    border-bottom: 1px solid black;
}

.ion-title{
--color: white;
}