<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">João é o maior especialista de Git que eu já conheci!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ice hookah, pode vir qualidade garantida</strong>
    <p>git log brabo -> git log --pretty=format:'%C(cyan)%h %C(magenta)%d %C(white)%s - %C(cyan)%cn, %C(green)%ce /
      %C(yellow)%cr'</p>
  </div>
</ion-content>
