<ion-header>
  <div class="search-container">
    <ion-toolbar color="left">
      <div class="search-content">
        <h1>Buscar:</h1>
        <ion-searchbar class="search-bar" placeholder="" (ionInput)="filterData($event)" (ionClear)="resetFilter()">
        </ion-searchbar>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <h3>Músicas que talvez você goste:</h3>

  <ion-card class="ion-activatable ripple-parent" *ngFor="let song of filteredData">
    <img [src]="song.image">
    <ion-card-header>
      <ion-card-subtitle>{{song.author}}</ion-card-subtitle>
      <ion-card-title>{{song.title}}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="ion-text-center ion-padding" *ngIf="isFinished && !isFiltered">
    <span>As músicas acabaram 😢</span>
  </div>
</ion-content>
