<ion-content id="explorarMenu">
  <div class="search-container">
      <ion-buttons class="menuButton" slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>

      <ion-toolbar color="left">
        <h1>Buscar:</h1>
        <ion-searchbar class="search-bar" placeholder=""></ion-searchbar>
      </ion-toolbar>
  </div>

  <h3>Músicas que talvez você goste:</h3>
  <ion-row>
    <ion-col class="image-card ion-activatable ripple-parent" routerLink="/home/player">
      <img src="https://images.pexels.com/photos/2048865/pexels-photo-2048865.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <p>Idealism</p>
      <span>Falling Asleep at 3:37 AM</span>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="image-card ion-activatable ripple-parent" routerLink="/home/player">
      <img src="https://images.pexels.com/photos/1119972/pexels-photo-1119972.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      <p>Flamingosis</p>
      <span>Football Head</span>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="image-card ion-activatable ripple-parent" routerLink="/home/player">
      <img src="https://images.pexels.com/photos/1071188/pexels-photo-1071188.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      <p>The Deli</p>
      <span>Flowers</span>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</ion-content>

<ion-menu contentId="explorarMenu" menuId="first" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content routerLink="/home/perfil">
    <ion-icon name="person-circle-outline"></ion-icon>
    <h4>Perfil</h4>
  </ion-content>
  <ion-content>
    <h4>Sair</h4>
  </ion-content>
</ion-menu>
